.header {
	display: block;
}
.header__body {
	display: flex;
	flex-direction: column;
	gap: 30px;
}
.header__header {
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	gap: 30px;
	align-items: center;
	background-color: var(--color__background);
	padding: 5px var(--page-horizontal-padding);
}
.header__title {
	display: block;
}
.header__exit:hover {
	background-color: #fd9999;
	border-color: #fd9999;
}



.settings {
	display: block;
}
.settings__body {
	display: flex;
	justify-content: center;
	gap: 30px;
}