<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Главная страница</title>
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/header.css">
</head>



<body class="page">
<div class="header">
  <div class="header__body">
    <header class="header__header">
      <span class="header__title">АССУ ЕСБО</span>
      <input type="button" class="button header__exit" value="Выход">
    </header>



    <div class="settings page__container">
      <div class="settings__body">
        <div class="input-group">
          <span class="input-group__title">Период&nbsp;с</span>
          <input type="date" class="input-field input-group__input" name="settings__dateFrom" value="" id="D1F">
        </div>

        <div class="input-group">
          <span class="input-group__title">Период&nbsp;по</span>
          <input type="date" class="input-field input-group__input" name="settings__dateTo" value="" id="D2F">
        </div>

        <div class="input-group">
          <span class="input-group__title">Отдел</span>
          <input type="text" list="dateOtdels" class="input-field input-group__input" name="settings__otdel">
          <datalist id="dateOtdels">
            <option th:each="otdel : ${sqlOtdelItems}" th:value="${otdel.V40V}" th:text="${otdel.V40V}" th:label="${otdel.OTDEL}"></option>
          </datalist>
        </div>
      </div>
    </div>
  </div>
</div>


<section class="section">
  <div class="section__body">
    <dv class="section__content">
      <main class="content">Контент</main>
    </dv>


    <aside class="aside">
      <div class="aside__body">
        <div class="module module_theme_gray">
          <span class="h1 module__title">Меню</span>
          <div class="module__content">
            <ul class="module__list">
              <li class="module__list-item" th:each="form : ${sqlStatMenuItems}">
                <a class="module__link" th:text="${form.name}" th:href="'link' + ${form.id}"></a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </aside>
  </div>
</section>



<script src="js/ajax-3.4.1.js"></script>
<script src="js/script.js"></script>
</body>
</html>
